@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

#logo{
    margin-left: 50px;
    margin-right: 400px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

.flexSB{
    position: relative;
    margin-top: -10px;
    margin-left: 40px;
    display:flex;
    flex-direction: row;
}

ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    font-size: 20px;
    font-weight: 250;
    padding: 30px 0 0 40px;
    margin-right: 40px;
}

ul li a{
    color: black;
    font-weight: 250;
    transition: 0.2s;
}

ul li a:hover{
    color: #FA8128;
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0px;
    left: 0;
    background-color: #FA8128;
    transform-origin: middle;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: middle;
}
